
footer {
  width:100vw;
  margin-top: 100px;
}
footer div {
  background-color:hsl(0, 0%, 0%);
  padding:0px;
  color: rgb(0, 0, 0);
  text-align:center;
}
svg {
  width:100%;
  position: relative;
  top: 58px;
}
img .ball{
  filter: drop-shadow(0 0 20px white);
}
.topball {
  background: none;
  position: relative;
  bottom: 100px;
  animation: ball 1s ease-in-out;
  animation-iteration-count:infinite;
  animation-direction: alternate;
  animation-delay: 0.3s;
  cursor:pointer;
}
@media screen{ 
  @media (min-width: 500px) and (max-width: 800px) {
    .topball {
      bottom: 150px;
    }
}
}
@media screen{ 
  @media (min-width: 801px) and (max-width: 1200px) {
    .topball {
      bottom: 200px;
    }
}
}
@media screen{ 
  @media (min-width: 1201px) and (max-width: 3000px) {
    .topball {
      bottom: 250px;
    }
}
}
.wave {
  animation: wave 8s linear;
  animation-iteration-count:infinite;
  fill: hsl(0, 0%, 0%);
}
#wave2 {
  animation-duration: 10s;
  animation-direction: reverse;
  opacity: .6
}
#wave3 {
  animation-duration: 13s;
  opacity:.3;
}

@keyframes wave {
  to {transform: translateX(-100%);}
}
@keyframes ball {
  to {transform: translateY(20%);
  }
}
.menu-footer{
    background:hsl(0deg 0% 21%);
    font-family: 'Play', sans-serif;
    text-align:left;
    }
    
    .menu-footer .row{
    width:100%;
    }
    
    .menu-footer .row a{
    text-decoration:none;
    color:white;
    transition:0.5s;
    line-height:10px;
    }
    .footer-list-title{
      font-style:oblique;
      font-weight:900;
      font-size:x-large;
      padding-bottom: 15px;
      padding-top: 10px;
    }
    .fa-cutlery{
      padding-right: 8px;
    }
    .fa-handshake-o{
      -webkit-transform: rotate(315deg);
      -moz-transform: rotate(315deg);
      -ms-transform: rotate(315deg);
      -o-transform: rotate(315deg);
      transform: rotate(315deg);
      position: relative;
      right: 3px;
      padding-right: 4px;
    }
    .menu-footer .row a:hover{
    color:#fff;
    text-shadow: 3px 3px 2px rgba(255, 255, 255, 0.5);
    }
    
    .menu-footer .row ul{
    width:100%;
    padding-bottom: 15px;
    margin-left: 0;
    padding-left: 5px;
    }
    
    .menu-footer .row ul li{
    display:inline-block;
    margin:0px 30px;
    }
    
    .menu-footer .row a i{
    font-size:2em;
    margin:0% 1%;
    }
    
    @media (max-width:720px){
    .menu-footer{
    text-align:left;
    padding:5%;
    }
    .menu-footer .row ul li{
    display:block;
    margin:10px 0px;
    text-align:left;
    }
    .menu-footer .row a i{
    margin:0% 3%;
    }
    }


    