body{
    background-color: $color-explorer;
}
.menu-title h1{
  font-style: italic;
  font-family: 'Shrikhand';
}
.top-title{
  display:flex;
  justify-content: space-between;
  align-items:center;
background-color: $color-explorer;
border-radius: 50px 50px 0px 0px; 
border: 2px solid $color-explorer;
position:relative;
bottom: 60px;
width: 100%;
padding-left: 20px;
padding-right: 10px;
padding-top: 20px;
padding-bottom: 0;
margin-bottom: 0;
}
@media screen{ 
  @media (min-width: 500px) and (max-width: 3000px) {
    .top-title{
      justify-content: space-around;
    }
}
}

/* Coeur "like"*/
.red-heart-checkbox {
  visibility: hidden;
}
.red-heart-checkbox + label {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 30px;
  padding-left: 15px;
  transition: all 0.5s;
}
.red-heart-checkbox:checked + label:before {
  content: "";
  
}
.red-heart-checkbox + label:before {
  width: 31.5px;
  height: 30px;
  content: "";
  position: absolute;
  margin-left: -48px;
  margin-top: 3px;
  font-family: FontAwesome;
  font-size: 30px;
  content: "";
  transition: all 0.5s;
  @include heart-like-color;
}
.red-heart-checkbox + label:hover:before {
  transform: scale(1.2);
}
.first-menu-title {
 padding-top: 0;
 margin-top: 0;
 padding-top: 0;
}
.corps-menu h3{
    max-width:fit-content;
    font-weight: lighter;
    text-align: left;
    padding-bottom: 20px;
    padding-left: 10px;
    border-bottom: 2px solid #99e3d0;
}

.desserts{
  animation-name: fade-in-tr;
		animation-duration: 1s;
		animation-timing-function: ease;
		animation-delay: 1.7s;
		animation-iteration-count: 1;
		animation-direction: normal;
		animation-fill-mode: forwards;
			
		/* shorthand
		animation: fade-in-tr 1s ease 1s 1 normal forwards;*/
	}
	@keyframes fade-in-tr {
			
		0% {
			transform:translateX(50px) translateY(-50px);
			opacity:0;
		}
		100% {
			transform:translateX(0) translateY(0);
			opacity:1;
		}
	}

  .plats {
    animation-name: fade-in-tr;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: 1.4s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
      
    /* shorthand/raccourci
    animation: fade-in-tr 1s ease 0.7s 1 normal forwards;*/
  }
  @keyframes fade-in-tr {
      
    0% {
      transform:translateX(50px) translateY(-50px);
      opacity:0;
    }
    100% {
      transform:translateX(0) translateY(0);
      opacity:1;
    }
  }

  .entrees {
    animation-name: fade-in-tr;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
      
    /* shorthand/raccourci
    animation: fade-in-tr 1s ease 0.4s 1 normal forwards;*/
  }
  @keyframes fade-in-tr {
      
    0% {
      transform:translateX(50px) translateY(-50px);
      opacity:0;
    }
    100% {
      transform:translateX(0) translateY(0);
      opacity:1;
    }
  }

.entrees, .plats, .desserts{
  display: flex;
align-items: center;
flex-direction: column;
padding-bottom: 30px;
opacity: 0;
}
.sub-menu {
    display: flex;
    align-content: flex-start;
    text-align:left;
    justify-content: space-between;
    width: 95%;
    min-height: 60px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 20px;
    border-radius: 20px;
    border-color: #ffffff87;
    border-style: ridge;
    border: 4px;
    box-shadow: 5px 5px 5px rgba(153, 153, 153, 0.25);
    padding-left: 10px;
}
.check-selection{
    display: flex;
    width: 0%;
    z-index: -1;
    opacity:0;
    border-radius:  0 20px 20px 0;
    background-color:#9ae4d0;
}
.secundo-menu{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 10%;
    padding-right: 5px;
    padding-left: 80px;
}

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: white;
  fill: none;
}

.checkmark {
  width: 25px;
  height: 25px;
  display: flex;
  align-self: center;
  border-radius: 50%;
  display: block;
  stroke-width: 7;
  stroke:  #99e3d0;
  background-color: white;
  stroke-miterlimit: 10;
  margin: 10% auto;
  z-index: -3;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
}

 .sub-menu:hover{
  .checkmark__circle {
    animation: stroke 0.5s cubic-bezier(0.65, 0, 0.45, 1) 0.6s 1 normal forwards;
    animation-delay: 0.2s;
  }
  
  .checkmark {
    animation: roll-checkmark 0.5s linear 1 normal forwards;
    /*animation: fill 1s ease-in-out 1s forwards, scale .3s ease-in-out .9s both;*/
    animation-delay: 0.2s;
    z-index: -3;
  }
  .checkmark__check {
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s 1 normal forwards;
    animation-delay: 0.2s;
  }
  .check-selection{
      display:flex;
      border-radius:  0 20px 20px 0;
      animation: slide-in-right 0.6s linear 0s 1 normal forwards;
 }   
 .primo-menu, .primo-menu-bis{
    width: 200px;
}
  }

  @keyframes stroke {
    100% {
      stroke-dashoffset: 0;
    }
  }
  @keyframes scale {
    0%, 100% {
      transform: none;
    }
    50% {
      transform: scale3d(1.1, 1.1, 1);
    }
  }
  /*
  @keyframes fill {
    100% {
      box-shadow: inset 0px 0px 0px 30px transparent;
    }
  }
  */
  @keyframes roll-checkmark {
    0%{
      transform: rotate(-720deg);
      z-index:-3;
    }
    100%{
      transform: rotate(0deg);
      z-index:4;
    }
  }

@keyframes slide-in-right {
    0%{
      transform: translateX(100px);
      opacity: 0;
      z-index: -1;
      width: 0%;
    }
    100%{
      transform: translateX(0);
      opacity: 1;
      z-index: 1;
      width: 15%;;
    }
  }
  


/*
.sub-menu:not(:hover){
    .check-selection{
        display:flex;
        width: 0%;
        border-radius:  0 20px 20px 0;
        background-color:#9ae4d0;
        animation: roll-out-right 1s ease 0s 1 normal backwards;
 } 
} 
  @keyframes roll-out-right {
    0%{
        transform: translateX(0) rotate(0deg);
      opacity: 1;
      z-index: 1;
      width: 20%;
      
    }
    100%{
        transform: translateX(100px) rotate(540deg);
        opacity: 0;
        z-index: -1;
        width: 0%;
    }
  }
*/
.description-menu{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    width: 70%;
}
.bouton-menu{
    display: flex;
    justify-content: center;
}
.prix-menu{
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 5px;
}
.primo-menu{
    font-weight: bold; 
    margin-top: 5px;
    margin-bottom: 0; 
    width: 230px;
    max-height: 20px;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
    
}
.primo-menu-bis{
    margin-top: 0;
    margin-bottom: 5px;
    width: 240px;
    max-height: 20px;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}
@media screen{ 
  @media (min-width: 450px) and (max-width: 3000px) {
    .primo-menu{
      width: 290px;
      
  }
  .primo-menu-bis{
      width: 290px;
  }
}
}
