body{
    background-color: $color-explorer;
}

.first-menu-title {
 padding-top: 60px;
}
.corps-menu h3{
    max-width:fit-content;
    font-weight: lighter;
    text-align: left;
    padding-bottom: 20px;
    padding-left: 10px;
    border-bottom: 2px solid #99e3d0;
}
.menu{
    display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 30px;
}

.sub-menu {
    display: flex;
    align-content: flex-start;
    text-align:left;
    justify-content: space-between;
    width: 95%;
    background-color: rgb(255, 255, 255);
    margin-bottom: 20px;
    border-radius: 20px;
    border-color: #ffffff87;
    border-style: ridge;
    border: 4px;
    box-shadow: 5px 5px 5px rgba(153, 153, 153, 0.25);
    padding-left: 10px;
}
.check-selection{
    display: flex;
    width: 0%;
    z-index: -1;
    opacity:0;
    border-radius:  0 20px 20px 0;
    background-color:#9ae4d0;
}
.secundo-menu{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 10%;
    padding-right: 5px;
    padding-left: 80px;
}
 .sub-menu:hover{
    .check-selection{
        display:flex;
        width: 20%;
        border-radius:  0 20px 20px 0;
        background-color:#9ae4d0;
        animation: roll-in-right 1s ease 0s 1 normal forwards;
 }   
 .primo-menu, .primo-menu-bis{
    width: 200px;
}
  }
  @keyframes roll-in-right {
    0%{
      transform: translateX(100px) rotate(540deg);
      opacity: 0;
      z-index: -1;
      width: 0%;
    }
    100%{
      transform: translateX(0) rotate(0deg);
      opacity: 1;
      z-index: 1;
      width: 20%;;
    }
  }

.sub-menu:not(:hover){
    .check-selection{
        display:flex;
        width: 0%;
        border-radius:  0 20px 20px 0;
        background-color:#9ae4d0;
        animation: roll-out-right 1s ease 0s 1 normal backwards;
 } 
} 
  @keyframes roll-out-right {
    0%{
        transform: translateX(0) rotate(0deg);
      opacity: 1;
      z-index: 1;
      width: 20%;
      
    }
    100%{
        transform: translateX(100px) rotate(540deg);
        opacity: 0;
        z-index: -1;
        width: 0%;
    }
  }

.description-menu{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    width: 70%;
}
.bouton-menu{
    display: flex;
    justify-content: center;
}
.prix-menu{
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 5px;
}
.primo-menu{
    font-weight: bold; 
    margin-top: 5px;
    margin-bottom: 0; 
    width: 230px;
    max-height: 20px;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
    
}
.primo-menu-bis{
    margin-top: 0;
    margin-bottom: 5px;
    width: 240px;
    max-height: 20px;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}
