.logo-menu{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: stretch;
  padding-top: 30px;
  padding-bottom: 20px;
}
.fa-arrow-left{
  font-size: 20px;
  position: relative;
  top: 5px;
  right: 60px;
}
.background-header{  display: flex;
  flex-direction: column;
    width: 100%;
}
.header-img{

    width: 100%;
    overflow: hidden;
}
/* Coeur "like"*/
.menu-title h1{
    font-style: italic;
}
.top-title{
  display:flex;
  justify-content: space-between;
  align-items:center;
background-color: $color-explorer;
border-radius: 50px 50px 0px 0px; 
border: 2px solid $color-explorer;
position:absolute;
top: 330px;
width: 100%;
padding-left: 20px;
padding-right: 10px;
padding-top: 20px;;
}


.red-heart-checkbox {
  visibility: hidden;
}
.red-heart-checkbox + label {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 30px;
  padding-left: 15px;
  transition: all 0.5s;
}
.red-heart-checkbox:checked + label:before {
  content: "";
  
}
.red-heart-checkbox + label:before {
  width: 31.5px;
  height: 30px;
  content: "";
  position: absolute;
  margin-left: -48px;
  margin-top: 3px;
  font-family: FontAwesome;
  font-size: 30px;
  content: "";
  transition: all 0.5s;
  @include heart-like-color;
}
.red-heart-checkbox + label:hover:before {
  transform: scale(1.2);
}