@charset "UTF-8";
/* couleurs principales */
/* couleur header */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");
.surplace-restaurant, .menu-restaurant {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 90%;
  background-color: rgba(153, 153, 153, 0.1);
  margin-bottom: 20px;
  border-radius: 20px;
  border-color: rgba(255, 255, 255, 0.5294117647);
  border-style: ridge;
  border: 4px;
  box-shadow: 5px 5px 5px rgba(153, 153, 153, 0.25);
}

body,
html {
  background: #002f74;
}

.spin-container {
  display: block; /* display: none pour faire disparaître */
  text-align: center;
  margin-top: 100px;
  z-index: 1;
  pointer-events: none;
}

.spin {
  border: 3px solid hsl(267deg, 66%, 60%);
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: rotate 3s cubic-bezier(0.26, 1.36, 0.74, -0.29) 3;
  animation-delay: 3s;
}

#loader2 {
  border: 3px solid #e0edff;
  width: 220px;
  height: 220px;
  position: relative;
  top: -216px;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: rotate2 3s cubic-bezier(0.26, 1.36, 0.74, -0.29) 3;
  animation-delay: 3s;
}

#loader3 {
  border: 3px solid hsl(317deg, 100%, 74%);
  width: 240px;
  height: 240px;
  position: relative;
  top: -452px;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: rotate 3s cubic-bezier(0.26, 1.36, 0.74, -0.29) 3;
  animation-delay: 3s;
}

#loader4 {
  border: 3px solid hsl(165deg, 56%, 74%);
  width: 260px;
  height: 260px;
  position: relative;
  top: -708px;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: rotate2 3s cubic-bezier(0.26, 1.36, 0.74, -0.29) 3;
  animation-delay: 3s;
}

@keyframes rotate {
  0% {
    transform: rotateZ(-360deg);
    opacity: 1;
  }
  100% {
    transform: rotateZ(0deg);
    opacity: 0;
    z-index: -1;
  }
}
@keyframes rotate2 {
  0% {
    transform: rotateZ(360deg);
    opacity: 1;
  }
  100% {
    transform: rotateZ(0deg);
    opacity: 0;
    z-index: -1;
  }
}
#text {
  color: hsl(165deg, 56%, 74%);
  font-family: Arial;
  font-size: 15px;
  position: relative;
  top: -857px;
  animation: slide 3s 3;
  animation-delay: 3s;
}

@keyframes slide {
  from {
    position: relative;
    top: -877px;
    font-size: 150%;
    opacity: 1;
  }
  to {
    position: relative;
    top: -787px;
    font-size: 100%;
    opacity: 0;
    z-index: -1;
  }
}
.spin-container {
  display: none;
}

/*
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}
@keyframes spinout {
  100% {
    opacity: 0;
    z-index: -1;
  }
}
*/
* {
  box-sizing: border-box;
}

body {
  max-width: 2000px;
  min-width: 320px;
  display: flex;
  height: auto;
  flex-direction: column;
  margin: auto;
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  font-family: "Raleway", sans-serif;
}

.header {
  background-color: hsl(0deg, 0%, 100%);
  left: 0px;
  right: 0px;
  z-index: 1; /* propriété propulsant le header au dessus des autres éléments html*/
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 30px;
}

.localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 3px inset rgba(150, 150, 150, 0.4);
  background-color: hsl(0deg, 0%, 92%);
}

.explorer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background: hsl(0deg, 0%, 96%);
  padding-bottom: 50px;
}

.explorer h3 {
  margin-bottom: 10px;
  padding-right: 55px;
  padding-left: 55px;
}

.explorer h5 {
  font-weight: 300;
  margin-top: 0px;
  padding-left: 5px;
  padding-right: 5px;
}

.corps-accueil h3 {
  padding-left: 15px;
}

.fonctionnement {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 30px;
}

.choix-restaurant {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 90%;
  background-color: rgba(153, 153, 153, 0.1);
  margin-bottom: 20px;
  border-radius: 20px;
  border-color: rgba(255, 255, 255, 0.5294117647);
  border-style: ridge;
  border: 4px;
  box-shadow: 5px 5px 5px rgba(153, 153, 153, 0.25);
}

:root {
  font-size: 16px;
  font-family: "Raleway";
  --heading-color: hsl(0, 0%, 7%);
  --container-background-color: whitesmoke;
  --date-text-color: hsl(0, 0%, 51%);
  --liked-heart-icon-color: -webkit-gradient(linear, left top,left bottom, from( hsl(267, 66%, 60%)), to(hsl(317, 100%, 74%)));
  --heart-icon-color: whitesmoke;
  --title-font-weight: 800;
  --date-font-weight: 550;
  /* Cards colors */
  --card-main-color: rgb(255, 255, 255);
  --card-1-secondary-color: hsl(267, 66%, 60%);
  --card-2-secondary-color: hsl(317, 100%, 74%);
  --card-3-secondary-color:hsl(165, 56%, 74%);
  --card-4-secondary-color: rgba(178, 180, 179, 0.79);
}

.container input {
  display: none;
}

.title-container {
  display: flex;
  text-align: left;
  background-color: whitesmoke;
  padding-bottom: 0;
  margin-bottom: 0;
}

.container {
  max-width: 100em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: flex-start;
  margin: auto;
  min-height: 30em;
  padding: 1em 1em 1em 1em;
  box-sizing: border-box;
  background-color: var(--container-background-color);
}

/* Card Styling */
.card-div {
  width: 20em;
  min-height: 10em;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  background-color: var(--card-main-color);
  margin: 0.6em;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: 8px 8px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: transform 0.2s ease-in-out;
}

/* ======== General styling of all cards and heart divs ========== */
.img-div {
  width: 100%;
  height: 8em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  z-index: 1;
  border-radius: 0 0 10px 10px;
}

.img-div img {
  border-radius: 0 50px 0 50px;
  transform-origin: bottom;
  transform: translateY(7.5%);
  transition: transform 0.3s ease-in-out;
}

/* === Styling the like Icon ==== */
.like-icon-div {
  padding: 1em 1em 1em 1em;
  width: 100%;
  box-sizing: border-box;
  text-align: right;
  font-size: 1.5em;
  color: var(--heart-icon-color);
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: flex-end;
}

.like-icon-div-child {
  /* background-color: yellow; */
  width: 1em;
  height: 1em;
  position: relative;
  z-index: 3;
  cursor: pointer;
}

.heart-empty {
  position: absolute;
  left: 0;
  opacity: 1;
}

.heart-fill {
  position: absolute;
  left: 0;
  opacity: 0;
  transform: scale(0);
  transition: transform 0.25s ease-in-out, opacity 0.2s ease-in-out;
}

/* God of war image and heart-background*/
.palette-gout-div {
  background-color: var(--card-1-secondary-color);
}

.palette-gout-div img {
  width: 100%;
  transform: translateY(7.5%);
  /* background-color: whitesmoke; */
}

.card-1 .like-icon-div {
  background-color: var(--card-1-secondary-color);
}

/* Sekiro image and heart-background */
.note-enchantee-div {
  background-color: var(--card-2-secondary-color);
}

.note-enchantee-div img {
  width: 100%;
  transform: translateY(7.5%);
}

.card-2 .like-icon-div {
  background-color: var(--card-2-secondary-color);
}

/* Dazai image and heart-background */
.a-la-francaise-div {
  background-color: var(--card-3-secondary-color);
}

.a-la-francaise-div img {
  width: 100%;
  transform: translateY(7.5%);
}

.card-3 .like-icon-div {
  background-color: var(--card-3-secondary-color);
}

/* U4 image and heart-background*/
.delice-sens-div {
  background-color: var(--card-4-secondary-color);
}

.delice-sens-div img {
  width: 100%;
  transform: translateY(7.5%);
}

.card-4 .like-icon-div {
  background-color: var(--card-4-secondary-color);
}

/* ======== text Container Styling general ======== */
.text-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* background-color: yellow; */
  padding: 0 1.5em;
  padding-top: 4em;
  padding-bottom: 1em;
  box-sizing: border-box;
}

.text-container .item-name,
.text-container .date {
  margin: 0.25em 0;
  text-align: center;
}

.text-container .item-name {
  font-size: 1.2em;
  font-weight: var(--title-font-weight);
  color: var(--heading-color);
}

.text-container .date {
  font-size: 0.9em;
  font-weight: var(--date-font-weight);
  color: var(--date-text-color);
}

/* ====== Hover effects ======= */
.card-div:hover .img-div img {
  transform: translateY(7.5%) scale(1.2);
  border-radius: 30%;
  box-shadow: 8px 8px 8px 3px rgba(0, 0, 0, 0.12);
}

.card-div:hover {
  transform: translate(0, -10px);
}

.like-icon-div-child:hover .heart-fill {
  opacity: 1;
  transform: scale(1);
}

.like-icon-div-child:hover .heart-empty {
  transition-delay: 0.25s;
  opacity: 0;
}

#card-1-like:checked ~ .heart-empty,
#card-2-like:checked ~ .heart-empty,
#card-3-like:checked ~ .heart-empty,
#card-4-like:checked ~ .heart-empty {
  opacity: 0;
}

#card-1-like:checked ~ .heart-fill,
#card-2-like:checked ~ .heart-fill,
#card-3-like:checked ~ .heart-fill,
#card-4-like:checked ~ .heart-fill {
  animation: like-animation 0.25s ease-in-out forwards;
}

#card-1-like:not(:checked) ~ .heart-fill,
#card-2-like:not(:checked) ~ .heart-fill,
#card-3-like:not(:checked) ~ .heart-fill,
#card-4-like:not(:checked) ~ .heart-fill {
  animation: unlike-animation 0.25s ease-in-out;
}

@keyframes like-animation {
  0% {
    transform: scale(1);
  }
  50% {
    color: var(--liked-heart-icon-color);
    transform: scale(0.5);
  }
  100% {
    color: var(--liked-heart-icon-color);
    transform: scale(1);
  }
}
@keyframes unlike-animation {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    color: var(--heart-icon-color);
    transform: scale(1);
  }
}
footer {
  width: 100vw;
  margin-top: 100px;
}

footer div {
  background-color: hsl(0deg, 0%, 0%);
  padding: 0px;
  color: rgb(0, 0, 0);
  text-align: center;
}

svg {
  width: 100%;
  position: relative;
  top: 58px;
}

.topball {
  background: none;
  position: relative;
  bottom: 100px;
  animation: ball 1s ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 0.3s;
  cursor: pointer;
}

.wave {
  animation: wave 8s linear;
  animation-iteration-count: infinite;
  fill: hsl(0deg, 0%, 0%);
}

#wave2 {
  animation-duration: 10s;
  animation-direction: reverse;
  opacity: 0.6;
}

#wave3 {
  animation-duration: 13s;
  opacity: 0.3;
}

@keyframes wave {
  to {
    transform: translateX(-100%);
  }
}
@keyframes ball {
  to {
    transform: translateY(20%);
  }
}
.menu-footer {
  background: #000;
  font-family: "Play", sans-serif;
  text-align: center;
}

.menu-footer .row {
  width: 100%;
  margin: 1% 0%;
  padding: 0.6% 0%;
  color: gray;
  font-size: 0.8em;
}

.menu-footer .row a {
  text-decoration: none;
  color: gray;
  transition: 0.5s;
}

.menu-footer .row a:hover {
  color: #fff;
}

.menu-footer .row ul {
  width: 100%;
}

.menu-footer .row ul li {
  display: inline-block;
  margin: 0px 30px;
}

.menu-footer .row a i {
  font-size: 2em;
  margin: 0% 1%;
}

@media (max-width: 720px) {
  .menu-footer {
    text-align: left;
    padding: 5%;
  }
  .menu-footer .row ul li {
    display: block;
    margin: 10px 0px;
    text-align: left;
  }
  .menu-footer .row a i {
    margin: 0% 3%;
  }
}
.barre-localisation {
  background-color: hsl(0deg, 0%, 92%);
  border-style: none;
  height: 50px;
}

::placeholder {
  text-align: center;
  font-weight: bold;
  color: hsl(0deg, 0%, 0%);
}

.bouton-recherche-restaurant {
  background: linear-gradient(355deg, hsl(267deg, 66%, 60%), hsl(317deg, 100%, 74%));
  height: 40px;
  padding: 10px 20px 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  border: none;
  color: #fff;
  transition: transform 700ms, background-color 500ms 250ms ease-out;
}
.bouton-recherche-restaurant:hover {
  transform: translate3d(12px, 50%, 3em);
  background: linear-gradient(355deg, hsl(317deg, 100%, 74%), hsl(267deg, 66%, 60%));
  opacity: 0.8;
}

/*# sourceMappingURL=main.css.map */
