body,
html {
  background: #002f74;
}

.spin-container {
  display: block; /* display: none pour faire disparaître */
  text-align: center;
  margin-top: 100px;
  z-index: 1;
  pointer-events: none;
}
.spin {
  border: 3px solid $color-primary;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: rotate 3s cubic-bezier(0.26, 1.36, 0.74, -0.29) 3;
  animation-delay: 3s;
}
#loader2 {
  border: 3px solid #e0edff;
  width: 220px;
  height: 220px;
  position: relative;
  top: -216px;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: rotate2 3s cubic-bezier(0.26, 1.36, 0.74, -0.29) 3;
  animation-delay: 3s;
}
#loader3 {
  border: 3px solid $color-secondary;
  width: 240px;
  height: 240px;
  position: relative;
  top: -452px;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: rotate 3s cubic-bezier(0.26, 1.36, 0.74, -0.29) 3;
  animation-delay: 3s;
}
#loader4 {
  border: 3px solid $color-third;
  width: 260px;
  height: 260px;
  position: relative;
  top: -708px;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: rotate2 3s cubic-bezier(0.26, 1.36, 0.74, -0.29) 3;
  animation-delay: 3s;
}
@keyframes rotate {
  0% {
    transform: rotateZ(-360deg);
    opacity: 1;
  }
  100% {
    transform: rotateZ(0deg);
    opacity: 0;
    z-index: -1;
  }
}
@keyframes rotate2 {
  0% {
    transform: rotateZ(360deg);
    opacity: 1;
  }
  100% {
    transform: rotateZ(0deg);
    opacity: 0;
    z-index: -1;
  }
}
#text {
  color: $color-third;
  font-family: Arial;
  font-size: 15px;
  position: relative;
  top: -857px;
  animation: slide 3s 3;
  animation-delay: 3s;
}
@keyframes slide {
  from {
    position: relative;
    top: -877px;
    font-size: 150%;
    opacity: 1;
  }

  to {
    position: relative;
    top: -787px;
    font-size: 100%;
    opacity: 0;
    z-index: -1;
  }
}
.spin-container{
  display: none;
}

/*
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}
@keyframes spinout {
  100% {
    opacity: 0;
    z-index: -1;
  }
}
*/