@mixin heading-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin button-color($color: lightness-shift($color-primary)) {
  background: $color;
}

@mixin menu-restaurant {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align:left;
  width: 90%;
  background-color: rgba(153, 153, 153, 0.1);
  margin-bottom: 20px;
  border-radius: 20px;
  border-color: #ffffff87;
  border-style: ridge;
  border: 4px;
  box-shadow: 5px 5px 5px rgba(153, 153, 153, 0.25);
}
@mixin forms-restaurants {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 30px;
}

@mixin gradient($direction, $heart-list) { 
  background: -webkit-linear-gradient($direction, $heart-list);
  background: -moz-linear-gradient($direction, $heart-list);
  background: -o-linear-gradient($direction, $heart-list);
  background: linear-gradient($direction, $heart-list);  
}

@mixin heart-like-color{
  background: -moz-linear-gradient(top,$color-primary,$color-secondary);
  background: -webkit-linear-gradient(top, $color-primary, $color-secondary);
  background: linear-gradient(to bottom, $color-primary, $color-secondary);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin checkmark($size) {
  font-family: FontAwesome;
  font-size: $size;
  content: $openheart;
}

@mixin box-style($size) {
  width: 1.05*$size;
  height: $size;
  content: "";
  position: absolute;
  margin-left: -1.6*$size;
  margin-top: 0.1*$size;
}

//http://stackoverflow.com/questions/826782/css-rule-to-disable-text-selection-highlighting
@mixin no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}