/* couleurs principales */
$color-primary: #9256dc;
$color-secondary: #ff7ad9;
$color-third: #98e2cf;

/* couleur header */
$color-location-input: hsl(0, 0%, 92%);
$header-background-color: hsl(0, 0%, 100%);
$color-explorer: hsl(0, 0%, 96%);



/* List */
$heart-list: $color-primary, $color-secondary;