/* couleurs principales */
$color-primary: hsl(267, 66%, 60%);
$color-secondary: hsl(317, 100%, 74%);
$color-third: hsl(165, 56%, 74%);

/* couleur header */
$color-location-input: hsl(0, 0%, 92%);
$header-background-color: hsl(0, 0%, 100%);
$color-explorer: hsl(0, 0%, 96%);



/* List */
$heart-list: $color-primary, $color-secondary;