/* couleurs principales */
$color-primary: #9256dc;
$color-secondary: #ff7ad9;
$color-third: #98e2cf;

/* couleur header */
$color-location-input: hsl(0, 0%, 92%);
$header-background-color: hsl(0, 0%, 100%);
$color-explorer: hsl(0, 0%, 96%);



/* List */
$heart-list: $color-primary, $color-secondary;

:root {
    font-size: 14px;
    --heading-color: hsl(0, 0%, 7%);
    --container-background-color: whitesmoke;
    --date-text-color: hsl(0, 0%, 51%);
    --heart-icon-color: whitesmoke;
    --title-font-weight: 800;
    --date-font-weight: 550;
  
    /* Cards colors */
    --card-main-color: rgb(255, 255, 255);
    --card-1-secondary-color: hsl(267, 66%, 60%);
    --card-2-secondary-color: hsl(317, 100%, 74%);
    --card-3-secondary-color:hsl(165, 56%, 74%);
    --card-4-secondary-color: rgba(178, 180, 179, 0.79);
  }